body {
	font-family: "Arial";
	color: rgb(52, 52, 52);
	background-color: whitesmoke;
}

h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 150px;
}

.usersList {
	padding-bottom: 50px;
	padding-left: 100px;
	width: 100%;
}

.userCover {
	margin-bottom: 45px;
	padding-left: 50px;
}

.userCoverInfo {
	margin-top: -50px;
	padding-left: 100px;
}

.userCoverAvatar {
	border-radius: 1000px; /*make circle*/
	box-shadow: 0 0 15px #666;
}

.user {
	margin: 120px;
	margin-top: 80px;
}

.useravatar {
	border-radius: 1000px; /*make circle*/
	box-shadow: 0 0 15px #666;
	
	width: 150px;
	height: 150px;
}

.username {
	margin-left: 200px;
	margin-top: -125px;
}

#username {
	font-size: 12px;
	font-family: monospace;
	margin-top: -10px;
	padding-left: 10px;
}

.userInfo {
	margin-left: 350px;
	margin-top: -120px;
}

.backButton {
	margin-top: 35px;
	margin-left: 150px;
    background-color: #00a3b1; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#mainPageText {
	margin-left: 100px;
	text-indent: 50px;
	line-height: 20px;
	word-spacing: 3px;
/*	text-shadow: 20px 20px 15px #666;*/
}

#usernameCover {
	text-decoration: none;
}

a:hover {
	color: #7FC7FF;
}